/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 0.5em 12em;
}

main {
  flex-grow: 1;
  color: #666;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}

header nav li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1.5em;
  cursor: pointer;
}

header nav li:last-child {
  margin: 0;
}

header h1 {
  text-align: center;
  font-weight: bold;
}

header h1 p {
  padding-top: 0.5em;
  font-size: 2em;
}

a, a:visited, h1 a{
    text-decoration: none;
}

h1 a:hover,
header nav li:hover,
header nav a:hover {
  color: #006aff;
  background-color: #fff;
}

strong{
    font-weight: bold;
}



footer ul {
  padding: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

footer ul li {
  /* font-weight: bold; */
  font-size: 1.5em;
}
footer ul li::after {
  display: inline;
  content: url("data:image/svg+xml,%0A%3Csvg%20width%3D%2230px%22%20height%3D%2220px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23006AFF%22%20stroke-width%3D%222%22%20d%3D%22M28.657%2012L23%2017.657%2017.343%2012%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
