// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.container {
  padding: 1em 0;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

  .property {
    background: #ede7f6;
    padding: 0.5em;
    text-align: center;
  }
}
