// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home.container {
  padding: 1em 0;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

  .property {
    background: #ede7f6;
    padding: 0.5em;
    text-align: center;
    color: #000;
  }
}

.properties {

  .new-property {
    border-radius: 0.3em;
    padding: 0.5em;

    background-color: #006aff;
    border: none;
    color: #fff;
    float: right;
  }
}
.properties .table-properties {
  margin: 2em 0;
  border-collapse: collapse;
  width: 100%;


  td {
    border-bottom: 1px solid #333;
    padding: 5px;
  }

  th {
    border-bottom: 1px solid #333;
    padding: 5px;
    text-align: start;

    font-weight: bold;
    color: #000;
    font-size: 1.2em;
  }

  tbody tr:nth-child(even) {
    background-color: #fdfdfd;
  }
}
